* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ced9ea;
}

#main {

}

/* <-- header --> */

.header {

}

 /* <-- container --> */

.container {
    width: 1320px;
    margin: auto;
}

img {
    max-width: 100%;
}

a {
    
    text-decoration: none;
    /* color: #464646; */
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex-basis: 25%;
    padding: 0 15px;
}

/* style card */
.card {
    background-color: #fff;
    margin-bottom: 30px;
}

.image {
    height: 220px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    
    /* padding: 15px; */
    margin: 16px 24px 0;
}

.content h3 {
    color: #464646;
    font-size: 19px;
    font-weight: 400;
    height: 20px;
    /* margin-bottom: 16px; */
}

.content p {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 16px;
}

.content p span {
    color: #ffd600;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* <-- footer --> */
