<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver Management</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/6b1f090483.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/drivers/create-form">ADD</a>
            <a class="btn btn-primary" href="/routes">Route List</a>
            <a class="btn btn-primary" href="/assignments">Assignment Sheets List</a>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Địa chỉ</th>
                    <th class="text-center">Điện thoại</th>
                    <th class="text-center">Hạng Bằng Lái Xe</th>
                    <th class="text-center">Action</th>
                </tr>

                <tr th:each="driver:${DriverList}">
                    <td th:text="${driver.id}"></td>
                    <td th:text="${driver.name}"></td>
                    <td th:text="${driver.address}"></td>
                    <td th:text="${driver.phone}"></td>
                    <td th:text="${driver.driverLevel.getName()}"></td>
                    <td class="text-center d-flex justify-content-around">
                        <a role="button" th:href="@{'/drivers/update/'+${driver.id}}" class="btn btn-link p-0">
                            <i class="fa-solid fa-pencil fa-lg text-primary"></i>
                        </a>
                        <form th:action="@{'drivers/delete/'+${driver.id}}"
                              onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');">
                            <button type="submit" class="btn btn-link p-0 mr-2">
                                <span><i class="fa-solid fa-trash-can fa-lg text-danger"></i></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>